# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Trained models
*.pkl
*.joblib
*.h5
*.keras

# Logs
logs/

# Raw datasets
# ai/data/raw/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/